// 倒计时分类显示
var filter = {
  dTime: function (value) {
    if(value!=undefined){
      if(value.indexOf(",")>-1){
        return value.split(",");
      }
      return 0; 
    }
  }
}


var u = {
  apply: function (e) {
    if (e.indexOf(',') > 0) {
      e = e.split(',')[0];
    }
    if (e.indexOf(';') > 0) {
      e = e.split(';')[0];
    }
    return e;
  },
}

var firstLine={
  nl:function(title){
    if(title.indexOf(" ")){
      return title.split(" ")[0];
    }else{
      return title;
    }
  }
}
var secLine={
  nl:function(title){
    if(title.indexOf(" ")){
      if(title.split(" ")[2]){
        return title.split(" ")[1]+title.split(" ")[2];
      }else{
        return title.split(" ")[1];
      }  
    }
  }
}

module.exports = {
  dTime: filter.dTime,
  apply: u.apply,
  nextLine1:firstLine.nl,
  nextLine2:secLine.nl
}
